table, td {
  border: 1px solid darkblue;
}

tr:first-child {
  background: rgb(255,255,20);
  border: 3px solid darkblue;
}

td:first-child {
  background: rgb(255,255,20);
  border: 3px solid darkblue;
}

tr:last-child {
  background: rgb(255,20,20);
  border: 1px solid darkblue;
}

.br {
  border-radius: 10px;
  border: 2px solid black;
}

body { background: rgb(200,200,200);
}

h1 {
  border: 3px solid black;
   width: 430px;
}

h1::before {
  content: "\260E";
  display: inline-block;
  opacity: 0;
}

h1:hover::before {
  opacity: 1;
}

p {
  font-family:Arial;
  font-size:18px;
  color: rgb(100,0,255);
}

div {
  background: rgb(0,255,150); /* Цвет фона */
  padding: 20px;
}
